RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^/?$ "https\:\/\/www\.litefi\.ng\/" [R=301,L]
DirectoryIndex index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]